main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h2 {
  padding: 0.5rem 0;
  font-size: 1.2rem !important;
}

h1 {
  padding: 1rem 0;
  font-size: 1.8rem;
}

.rating span {
  margin: 0.1rem;
}
